//===========================================
    // -Buttons start
//===========================================

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
}

.global-btn-2 {
  background-color: $supporting-4;
  border: 2px solid $supporting-4;
  padding: rem(8) rem(50);
  border-radius: rem(20);
  font-size: rem(20);
  color: $default-font-color;
  transition: all 0.5s ease-in-out;

  &:hover{
    background-color: transparent;
    border-color: $default-font-color;
  }

  @include mq('md', max){
    font-size: rem(14);
    padding: rem(6) rem(16);
  }
}

button:focus{
  outline: none;
}


.global-btn-2:active{
  color: $on-active;
}

.close-pop-up-btn{
  float: right;
  background-color: #282828;
  border: 1px solid $border-color;
  color: $default-font-color;
  font-size: rem(21);
  border-left: none;

  @include mq('sm', max){
    font-size: rem(16);
  }
  
}



//===========================================
    // -Buttons end
//===========================================