//===========================================
	// -Home Page start
//===========================================

// Product Showcase


// showcase item
.showcase-item{
	height: rem(408);
	width: 50%;
	position: relative;
	float: left;
	background-color: $supporting-2;
	
	// @include mq('md', max){
	// 	height: rem(300);
	// }

	.showcase-item-detail{
		color: $default-font-color;
		padding-top: rem(140);
		width: rem(350); 
		padding-left: rem(40);

		.showcase-item-title {
			font-size: rem(35);
			letter-spacing: rem(2);
			margin: 0;
		}

		.showcase-item-description {
			color: $supporting-fonts-1;
			font-size: rem(20);
		}
	}

	img{
		max-width: 100%;
	}
}

.showcase-item:nth-child(2), .showcase-item:nth-child(3){
	background-color: $supporting-3;
}

// showcase item 1
.showcase-item-1-pic{
	position: absolute;
	right: 0;
	top: rem(100);
	max-width: 35%;

	@include mq('sm', max){
		top: rem(250);
		max-width: 45%;
	}
}

// showcase item-2
.showcase-item-2-pic{
	position: absolute;
	bottom: 0;
	right: rem(25);
	max-width: 35%;
}

// showcase item 3
.showcase-item-3a-pic{
	position: absolute;
	bottom: rem(40);
	right: rem(50);
	max-width: 35%;
}

//showcase item 4

.showcase-item-4-pic{
	position: absolute;
	bottom: 0;
	right: rem(60);
	max-width: 30%;
	@include mq('md', max){
		max-width: 25%;
	}
}


// featured products 
.featured-products {
	background-color: #282828;
	padding-bottom: rem(120);
	text-align: center;

	.title-wrapper{
		margin-bottom: rem(65);

		.featured-products-title {
			display: inline-block;
			font-size: rem(35);
			margin: 0;
			padding-top: rem(85);
			line-height: 0.9
		}
	}
}

// featured product item

.featured-products {
	h2{
		&:after {
			margin-right: auto;
			margin-left: auto;
			margin-top: rem(20);
		}
	}
}


.featured-product-item {
	width: 20%;
	max-width: rem(250);
	min-width: rem(200);
	height: rem(400);
	background-color: $featured-item-bg;
	float: left;
	margin: rem(10);
	border: 1px solid transparent;

	@include mq('lg', max){
		height: rem(600);
	}

	@include mq('sm', max){
		height: rem(450);


	}



	.featured-item-title{
		color: $supporting-1;
		font-size: rem(17);
		margin: 0;
		margin-bottom: rem(20);
		font-weight: 900;
	}

	.featured-item-price {
		color: $default-font-color;
		font-size: rem(25);
		margin: 0;
		margin-bottom: rem(15);
	}

	.featured-item-rating{
		color: $supporting-1;
		margin: 0;
		font-size: rem(17);
	}

	.featured-product-img {
		max-width: 80%;
		height: 60%;
		margin: 0 auto;
		display: table;

		.cell{
			display: table-cell;
			vertical-align: middle;
		}


		.featured-img{
			max-width: 100%;
			display: inline-block;
		}
	}

}

.featured-product-item:nth-child(2) {
	margin-left: rem(20);
}

.featured-product-item:hover{
	border: 1px solid lighten($featured-item-bg, 10%);
	cursor: pointer;
}


// deal offer section

.deal-offer-section {
	height: rem(521);
	background-image: url('../images/offer-bg.jpeg');
	background-position: bottom;
	background-size: cover;

	.deal-offer-bg-layer{
		background-color: rgba(0,0,0,0.7);
		height: rem(521);
	}
}

.offer{
	color: $default-font-color;
	padding-top: rem(170);
	text-align: center;
	width: 40%;

	.offer-title {
		margin: 0;
		font-size: rem(82);

		@include mq('md', max){
			font-size: rem(50);
		}
		
	}

	.offer-description {
		font-size: rem(40);
		margin: rem(10) 0;

		@include mq('md', max){
			font-size: rem(16);
		}
	}

	.offer-validity{
		font-size: rem(15);

		@include mq('md', max){
			font-size: rem(10);
		}
	}


}

.offer-1 {
	float: left;
}

.offer-2{
	float: right;
}


@include mq-only('xs', 'xl'){
	.featured-products{
		text-align: center;
	}

	.featured-product-item{
		float: none;
		display: inline-block;
	}
}

@include mq-only('sm', 'lg'){
	.featured-product-item{
		min-width: 40%;

		.featured-product-img{
			height: 75%;
		}
	}

	
}

@include mq('md', max){
	.showcase-item{
		width: 100%;
		float: none;
	}

	.offer{
		padding-top: rem(70);
	}	

	
}

@include mq('sm', max){
	.featured-product-item{
		min-width: 70%;
	}
}

//===========================================
	// -Home Page end
//===========================================
