//===========================================
	// -Variables start
//===========================================

// Colors start
$default-font-color:			#fff; //white
$sub-bar-bg:	#030303; //black
$mine-shaft:	#3a3a3a; // dark gray
$maroon-flush:	#d3205a; // Default Brand Color
$supporting-1: #ff3448; 
$border-color: #595959;
$supporting-2: #303030;
$supporting-fonts-1: #979696;
$supporting-3: #1c1c1c;
$supporting-4: #9c1c28;
$featured-item-bg: #363636;
$for-footer-fonts: #887979;
$on-active: #a2a2a2;

// Typography
$font-default:	'Lato', sans-serif;
$font-primery:	'ostrichsansinlineregular', sans-serif;

// Break Pointss
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//===========================================
	// -Variables end
//===========================================
